@import 'base/normalize';
@import 'base/app';

/* Colorway:
26cba2
ec109c
 */

html {
	width: 100%;
	height: 100%;
}


.banner {
	width: 100%;
	background-color:#26cba2;
	padding: 2vh 0vw;
	margin: 0;
}